/* ?Colors: FFFD82(icterine) 68B282(mint) E188FC(violet) 4A3E78(ultra violet) 2B3A67(delft blue) */

.select li {
    color: #FFFD82;
}

.select li:hover {
    color: rgb(51, 51, 51);
    background-color: #FFFD82;
    box-shadow: 0 0 75px #FFFD82;
}