/* ?Colors: FE66F0(ultra pink) C55BFC(phiox) 983586(pium) 725745(coffe) 201626(raisin black) */

.select li {
    color: #983586;
}

.select li:hover {
    color: rgb(51, 51, 51);
    background-color: #983586;
    box-shadow: 0 0 75px #983586;
}