/* ------------------------------------- */
/* ?Basic setup? */
/* ------------------------------------- */

.container {
    position: relative;
    background-color: rgb(51, 51, 51);
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    overflow-y: auto;
}

/* ------------------------------------- */
/* ?Resulable components? */
/* ------------------------------------- */

/* !------Headings------! */
h1, 
h2 {
    font-weight: 300;
    text-transform: uppercase;
}

/* ------------------------------------- */
/* ?Header? */
/* ------------------------------------- */

.header {
    width: 80%;
    height: max-content;
    margin: auto;
    transform: translateY(25%);
}

.header-2 {
    display: flex;
    width: 100%;
}

.header img {
    width: 30%;
    transform: translateX(115%);
}

.header h1,
.header-2 h1 {
    margin: auto;
    padding: 15px 30px;
}

.header h1 {
    text-align: center;
}

.header-2 h1 {
    cursor: pointer;
}

.scelta-api,
.scelta-api-2,
.scelta-api-generic {
    list-style: none;
    margin: auto;
}

.scelta-api,
.scelta-api-generic {
    width: 100%;
}

.scelta-api li,
.scelta-api-generic li {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(111, 111, 111);
    width: 14%;
    margin: 40px 3%;
    padding: 5px 15px;
    text-align: center;
    transition: 0.3s ease;
}

.scelta-api-2 li {
    display: inline-block;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    transition: 0.3s ease;
}

#gekko {
    color: #43C0FF;
}

#killjoy {
    color: #FFFD82;
}

#viper {
    color: #00B441;
}

#jett {
    color: #77D4E4;
}

#reyna {
    color: #983586;
}

.scelta-api li:hover,
.scelta-api-2 li:hover,
.scelta-api-generic li:hover {
    letter-spacing: 3px;
}

#gekko:hover {
    background-color: #43C0FF;
    box-shadow: 0 0 75px #43C0FF;
    color: rgb(51, 51, 51);
    border: 0;
}

#killjoy:hover {
    background-color: #FFFD82;
    box-shadow: 0 0 75px #FFFD82;
    color: rgb(51, 51, 51);
    border: 0;
}

#viper:hover {
    background-color: #00B441;
    box-shadow: 0 0 75px #00B441;
    color: rgb(51, 51, 51);
    border: 0;
}

#jett:hover {
    background-color: #77D4E4;
    box-shadow: 0 0 75px #77D4E4;
    color: rgb(51, 51, 51);
    border: 0;
}

#reyna:hover {
    background-color: #983586;
    box-shadow: 0 0 75px #983586;
    color: rgb(51, 51, 51);
    border: 0;
}

/* ------------------------------------- */
/* ?Hero? */
/* ------------------------------------- */

.hero-app {
    width: 70%;
    margin: 30px auto;
}